strong {
  color: black;
  font-size: 15px;
  font-stretch: ultra-expanded;
  margin-left: 15px;
  margin-right: 15px;
}
#p-intro {
  line-height: 30px;
  margin-right: 3%;
  color: black;
  font-weight: 380;
  font-size: 13pt;
  letter-spacing: 1.5px;
}
p {
  font-size: 5%px;
  letter-spacing: "2px";
  line-height: 30px;
  font-weight: 350px;
}
.navbar {
  position: "fixed";
  top: 0px;
  left: 0px;
}
.dropdown-menu {
  position: absolute;
  min-width: 500px;
  max-width: 700px;
}
.use {
  text-align: center;
  margin-bottom: 8px;

  font-size: 30px;
  word-spacing: "2px";
  letter-spacing: "1px";
}
.card {
  margin-top: 48px;
  margin-bottom: 48px;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.wrap {
  padding-left: 128px;
  padding-right: 128px;
  padding-top: 48px;
  padding-bottom: 48px;
}
#scroller {
  width: 900px;
  height: 400px;
  overflow-x: scroll;
}
#scroller::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

.card-title {
  text-align: center;
  margin-bottom: 8px;
  margin-top: 18px;
}
.card-text {
  text-align: center;
  margin-bottom: 10px;
}
.card:hover .card-img-top {
  position: relative;
  top: -20px;
}
